# Static DNS entries for local network resolution
# Format: <IP Address> <hostname>

{{ unbound_ip_primary }}    dns1.local
{{ unbound_ip_secondary }}  dns2.local
{{ pihole_ip }}             pihole.local
{{ ad_server_ip }}          adroot.holownych.com
