server:
  verbosity: 1
  interface: 0.0.0.0
  port: 53
  do-ip4: yes
  do-udp: yes
  do-tcp: yes
  access-control: 127.0.0.0/8 allow
  access-control: ::1 allow
  access-control: 10.0.0.0/8 allow
  access-control: 172.16.0.0/12 allow
  access-control: 192.168.0.0/16 allow
  access-control: 100.64.0.0/10 allow
  access-control: 169.254.0.0/16 allow
  access-control: 192.0.0.0/24 allow
  access-control: 198.18.0.0/15 allow
  access-control: 224.0.0.0/4 deny
  access-control: 240.0.0.0/4 deny
  hide-identity: yes
  hide-version: yes
  harden-glue: yes
  harden-dnssec-stripped: yes
  use-caps-for-id: yes
  cache-min-ttl: 300
  cache-max-ttl: 86400
  prefetch: yes
  num-threads: 2
  so-reuseport: yes
  root-hints: "/etc/unbound/root.hints"
  auto-trust-anchor-file: "/var/lib/unbound/root.key"
  val-log-level: 1
  log-queries: yes
  log-replies: yes
  log-tag-queryreply: yes
  log-local-actions: yes
  log-servfail: yes

  {% if threat_feeds is defined %}
  # Threat intelligence blocklists
  {% for feed in threat_feeds %}
  include: "/etc/unbound/threatfeeds/{{ feed }}"
  {% endfor %}
  {% endif %}

remote-control:
  control-enable: yes
  control-interface: 127.0.0.1
  control-port: 8953
  server-key-file: "/etc/unbound/unbound_server.key"
  server-cert-file: "/etc/unbound/unbound_server.pem"
  control-key-file: "/etc/unbound/unbound_control.key"
  control-cert-file: "/etc/unbound/unbound_control.pem"

forward-zone:
  name: "."
  forward-addr: 1.1.1.1
  forward-addr: 1.0.0.1
